    footer {
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: lightgrey;
        height: 60px;
        margin-top: 17px;
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
    }