<main>
    <div class="home">
        <h1>Magic Github Explorer</h1>
        <div>
            <img src="http://cdn01.ru/files/users/images/6d/bf/6dbfee064bd537d8ef699105194a1ee1.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Delectus blanditiis a velit eaque voluptate dolore vitae eum quod atque, nihil enim ipsam similique pariatur debitis quasi provident illum ab dolores? </p>
        </div>
    </div>
</main>